services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      network: backend_net
    container_name: boleylapanel-backend
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - /var/lib/boleylapanel:/var/lib/boleylapanel
      - /var/lib/boleylapanel/logs:/var/lib/boleylapanel/logs

networks:
  backend_net:
    driver: bridge
